.grid-container {

	position: relative;
  display: grid;
	grid-template-columns: repeat(4, 15vw); /*20vw - ширина одной карточки*/
	justify-content: space-between;
	grid-row-gap: 55px;
	grid-column-gap: 5px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 55px;

  .grid__item {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 2.1859px 14.2083px #00000014;
    transition: 0.3s;

    &:hover { 
      transform: scale(1.05); 
      box-shadow: 0px 20px 20px -12px #00000026; 
    }

    .photo {

      height: 65%;
      
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      background-color: #483535;
      background-size: cover;
      background-position: center;

    }

    .content {

      flex-direction: column;
      padding: 14px;

      .name {

        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;

      }

      .text {
        //// max-height: 72px;
        max-height: 48px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        overflow: hidden;

      }

    }

    &:hover .text { max-height: unset; }

  }

}

.grid-container.users {

  .grid__item { height: 229px; }

}

.ribbon-container {

  position: absolute;
  right: 0;
  top: 20px;
    
  .ribbon {

    position: relative;
    user-select: none;
    display: grid;
    place-content: center;
    right: -4px;
    padding: 0px 11px;
    height: 42px;
    
    font-weight: 500;
    color: #414141;
    background-color: #fec005;
    background-image: url(../../images/ribbon-middle.svg);
    background-repeat: repeat;
    background-size: contain;

    &::before, 
    &::after {
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      top: 0px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &::before { 
      left: -11px;
      width: 12px;
      background-image: url(../../images/ribbon-before.svg); 
    }
    &::after { 
      right: -5px;
      width: 5px;
      background-image: url(../../images/ribbon-after.svg); 
    }

  }

}

@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) {
    .grid-container { zoom: 0.8; }
  }
}

_::-webkit-full-page-media, _:future, :root .safari_only {

  .grid-container { zoom: 0.8; }

}