header {

  background: #F9F9F9;
  display: flex;   
  justify-content: space-between;
  padding: 14px 52.4px 14px 49px;
  border-bottom: 2px solid #ECECEC;
  height: 61px;

  .left, .right{ 
    
    display: flex;
    align-items: center;
  
  }

  .left{

    text{

      color: #383838;
      font-size: 20px;
      font-weight: 500;
      margin-left: 10%;
        
    }

    .logo{ 

      background-image: url(../../images/wishdish-logo.svg);
      height: 50px;
      width: 50px;
      background-size: contain;
  
    }

  }

  .right {

    color: #4D4D4D;
    font-size: 17px;
    font-weight: 500;

    .user-img{

      margin-right: 7%;
      margin-left: 10%;
      min-width: 43px;
      height: 43px;
      border-radius: 100px;
      background-size: cover;

    }
    
  }

}

.triangle-arrow {

  min-width: 14px;
  height: 14px;
  background-image: url(../../images/icons/triangle-small.svg);
  background-size: contain;

}