* { 
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

html,
body {

  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

// @import "_mixins.scss";
@import "_header.scss";
@import "_menu.scss";
@import "_table.scss";
@import "_grid.scss";
@import "_content.head.scss";
@import "_inputs.scss";
@import "_popups.scss";
@import "_animation.scss";
@import "_misc.scss";
// @import "_content.scss";

#app, .content {
  
  position: relative;
  display: flex;
  flex-grow: 1;

}

#app { flex-direction: column; }

.loading {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 100px;
  height: 100px;

  background-image: url(../../images/loading.gif);
  background-size: contain;

}

.scrollbar {

  flex: 1 1 auto;
  overflow-y: scroll;
  width: calc(100% + 24px);
  margin-left: -24px;
  min-height: 0px;

}

.workflow {

  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 300px);
  left: 300px;
  height: 100%;
  padding: 38px 58px 10px 62px;
  background: #fff;

  .loading {
    bottom: 1%;
    left: 16%;
  }

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #DFDFDF;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #FEC001;
  width: 6px;
}

@media screen and ( max-width: 1250px ) {

  .sidebar, .workflow { zoom: 0.8; }
  
}